$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$success:#63cc82;
$error:#e4757a;
$warning:#fd7856;
$info:#927bc1;
$color-primary-light: lighten($color-primary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);
$success-light: lighten($success, 10%);
$error-light: lighten($error, 10%);
$warning-light: lighten($warning, 10%);
$info-light: lighten($info, 20%);

$breakpoint: 768px;

$font: 'Lato', sans-serif;