/* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  

  .btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @each $key, $color in $button-colors {
      &.#{$key} {
        background-color: $color;
       
        &:hover{
          background-color: lighten($color, 15%);
          transition: background-color .5s;
        }
      }
      
}
  }
  

  
  