/* ============================================= */
  /*              Grid System                      */
  /* ============================================= */
  
  .container {
    padding: 0 10px;

    @media (min-width:$breakpoint) {
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
  .row {
    @include flexy;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .theme.col-1 {
    background-color: #927bc1;
  }
  
  .theme.col-2 {
    background-color: #fd7856;
  }
  
  .theme.col-3 {
    background-color: $info-light;
  }
  
  .theme.col-4 {
    background-color: $color-secondary-light;
  }
  
  .theme.col-5 {
    background-color: $success-light;
  }
  
  .theme.col-6 {
    background-color: #4da2bb;
  }
  
  .theme.col-7 {
    background-color: $error-light;
  }
  
  .theme.col-8 {
    background-color: $warning-light;
  }
  
  .theme.col-9 {
    background-color: #e4757a;
  }
  
  .theme.col-10 {
    background-color: #63cc82;
  }
  
  .theme.col-11 {
    background-color: $color-secondary;
  }
  
  .theme.col-12 {
    background-color: $color-primary-light;
  }
  
  .card {
    flex-basis: 100%;
  }
  
  
  